<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script>
        const USERNAME = "{{ username }}";
        const EXPIRATION = {{ expiration }};
    </script>
    <script src="{{ url_for('static', filename='dashboard.js') }}" defer></script>
    
</head>
<body>

    <h2>Welcome to the Dashboard, {{ username }}!</h2>
    <p>Your session will expire in 10 seconds of inactivity.</p>
    <p>Your token is: <strong>{{ token }}</strong></p>
    <p>Your token payload is: <strong>{{ payload }}</strong></p> 

    <form id="a" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone"><br><br>

        <label for="textField">Text Field:</label>
        <input type="text" id="textField" name="textField"><br><br>

        <label for="fileInput">File Input:</label>
        <input type="file" id="fileInput" name="fileInput"><br><br>
       
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        <a href="#" id="retrieveLink" onclick="retrieveFormData()">Retrieve Unsaved Changes</a>
    </form>

    <form id="logoutForm" method="POST" action="{{ url_for('logout') }}">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit" onclick="saveFormData()">Logout</button>
    </form>

    <form id="logoutAllForm" method="POST" action="{{ url_for('logout_all') }}">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="button" onclick="handleLogoutAll()">Logout from all devices</button>
    </form>
    <h2>{{ username }}</h2>
    <p>{{ expiration }}</p>

</body>
</html>



